extends ../layout/layout

block header
  include ../inclusions/header
block content
  //- div(layout="row")
  br
  div.md-whiteframe-2dp(layout="column" flex layout-margin layout-padding ng-controller="formNotificacion as $fCtrl")
    div(layout="row" layout-align="center center" flex layout-margin layout-padding ng-init="$fCtrl.id = " + id + ';$fCtrl.init();')
      h2 Generar Notificación
    md-divider
    div(ng-if="$fCtrl.loading" layout='row', layout-sm='column', layout-align='center center')
      md-progress-linear(flex md-mode='indeterminate')
    div(layout="row" layout-xs="column" layout-align="start start" flex layout-margin layout-padding)
      span(flex hide-sm)
      md-input-container.w-100.md-block(flex)
        label Seleccione Línea
        md-select(ng-model='$fCtrl.form.linea' ng-change="$fCtrl.cambioDeLinea()")
          md-option(ng-repeat='opcion in $fCtrl.lineas', ng-value='opcion')
            | {{ $fCtrl.obtenerLinea(opcion) }}
        i(class='error' ng-show="$fCtrl.errores.linea" ng-repeat="opcion in $fCtrl.errores.linea")
          | {{ opcion }}
      md-input-container.md-block.w-100(flex)
        label Seleccione OP
        md-select(ng-model='$fCtrl.form.idOp' md-on-close="$fCtrl.busqueda = ''"  md-on-open='$fCtrl.focoParaBuscar()')
          md-select-header
            input.campo-busqueda(ng-model='$fCtrl.busqueda' ng-keydown="$fCtrl.buscar($event)" type='search' placeholder='Buscar OP...')
          md-option(ng-value='opcion.id' ng-repeat="opcion in $fCtrl.ops | filter:$fCtrl.busqueda") {{opcion.prefijo}}{{opcion.op}}
        //- md-select(ng-model='$fCtrl.form.idOp')
        //-   md-option(ng-repeat='opcion in $fCtrl.ops' ng-value='opcion.id')
        //-     | {{opcion.prefijo}}{{opcion.op}}      
        i(class='error' ng-show="$fCtrl.errores.idOp" ng-repeat="opcion in $fCtrl.errores.idOp")
          | {{ opcion }}
      span(flex hide-sm)
    div(layout="row" layout-xs="column" layout-align="start start" flex layout-margin layout-padding)
      span(flex hide-sm)
      md-input-container.md-block.w-100(flex)
        label Seleccione Icono
        md-select(ng-model='$fCtrl.form.icono')
          md-option(ng-repeat='icono in $fCtrl.iconos', ng-value='icono.id')
            md-icon(md-svg-src='/static/content/icons/{{icono.icono}}.svg')
            | &nbsp;{{ icono.nombre }} 
        i(class='error' ng-show="$fCtrl.errores.icono" ng-repeat="opcion in $fCtrl.errores.icono")
          | {{ opcion }}
      md-input-container.md-block.w-100(flex)
        label Descripción
        input(ng-model="$fCtrl.form.descripcion" type="text")
        i(class='error' ng-show="$fCtrl.errores.descripcion" ng-repeat="opcion in $fCtrl.errores.descripcion")
          | {{ opcion }}
      //- md-input-container.md-block.w-100(flex)
        label Seleccione Sonido
        md-select(ng-model='$fCtrl.form.sonido')
          md-option(ng-repeat='sonido in $fCtrl.sonidos', ng-value='sonido.id')
            | {{ sonido.nombre }}      
        i(class='error' ng-show="$fCtrl.errores.sonido" ng-repeat="opcion in $fCtrl.errores.sonido")
          | {{ opcion }}
      span(flex hide-sm)
    div(layout="row" layout-align="center center")
      i(class='error' ng-show="$fCtrl.errores.idCentro" ng-repeat="opcion in $fCtrl.errores.idCentro")
        | {{ opcion }}
    div(layout="row" layout-xs="column" layout-align="space-around center" flex layout-margin layout-padding layout-wrap="")
      .md-whiteframe-2dp.w-100.puesto-de-trabajo( ng-class="{'puesto-activo':$fCtrl.form.idCentro == opcion.idCentro}" 
        flex="30" flex-xs="100" flex-md="45" flex-sm="45" layout="column" layout-align="center center" 
        ng-click="$fCtrl.form.idCentro = opcion.idCentro;$fCtrl.form.nombreCentro = opcion.descripcion" ng-repeat="opcion in $fCtrl.centros" ng-if="$fCtrl.form.linea == opcion.linea")
        b {{ opcion.codigo }}
        b {{ opcion.descripcion }}
        br  
        md-icon(md-svg-src='/static/content/icons/tools.svg')
        br
    //- div(layout="row" layout-align="start start" flex layout-margin layout-padding)
    //-   .md-whiteframe-2dp.puesto-de-trabajo(flex layout="column" layout-align="center center" ng-click="$fCtrl.form.idCentro = opcion" ng-repeat="opcion in [4,5,6]")
    //-     h3 Puesto de trabajo {{ opcion }}
    //-     md-icon(md-svg-src='static/content/icons/tools.svg')
    //-     br
    div(layout="row" layout-align="end end" flex )
      md-button.md-raised.md-primary(ng-click="$fCtrl.guardar()") Generar
