md-dialog(aria-label='Eliminar'  flex="70" flex-xs="90" flex-sm="90")
  form(ng-cloak='')
    md-toolbar.md-primary
      .md-toolbar-tools
        span(flex='')
        b Detalle del Registro {{ $lCtrl.detalleNotificacion.id }}
        span(flex='')
        md-button.md-icon-button(ng-click='$lCtrl.cerrar()' style="font-size:22pt;") X
    md-dialog-content
      .md-dialog-content(style="padding:  10px 24px; 0 24px")
        span.titulo 
          b Descripción: &nbsp; 
          | {{ $lCtrl.detalleNotificacion.descripcion }}
        //- div(layout="row" layout-align="end end")
        div(layout="row" layout-align="center center")
          h4 Asistencia de usuarios
          md-input-container.md-block(md-no-float='' flex style="margin-bottom: 0;margin-left:40px;" )
            md-icon(md-svg-src='/static/content/icons/search.svg')
            input(ng-model='$lCtrl.buscarAsistente' type='text' placeholder='Buscar usuario...' aria-label='Buscar...' )
          md-button.md-primary.md-raised(ng-click="$lCtrl.segundoLlamado()" ng-disabled="$lCtrl.detalleNotificacion.fechaCierre") Segundo llamado
          
        .md-whiteframe-2dp(layout-paddig)
          table.responsive-table.w-100
            thead
              tr
                th(scope='col') Nombre
                th(scope='col') Estado
                th(scope='col') Fecha de Asistencia
                th(scope='col') Segunda Llamada
            tbody
              tr(ng-repeat="item in $lCtrl.detalleNotificacion.asistentes | filter:$lCtrl.buscarAsistente")
                th(scope='row') {{ item.nombre }}
                td(data-title='Estado :' ng-style="{'color': item.estado == 'Pendiente' ? 'red'  : '#4369e2'}") {{ item.estado }}
                td(data-title='Fecha de Asistencia :') 
                  md-button.md-primary.md-raised(ng-if="!item.fechaAsistencia" style="margin:-2px;" ng-disabled="$lCtrl.detalleNotificacion.fechaCierre" ng-click="$lCtrl.marcarAsistencia(item.id)") 
                    md-icon(md-svg-src='/static/content/icons/tick.svg')
                    | &nbsp; Marcar asistencia
                  span(ng-if="item.fechaAsistencia" style="color:#4369e2;")
                    md-icon(md-svg-src='/static/content/icons/tick.svg')
                    | &nbsp; {{ item.fechaAsistencia | date : 'short' }}

                td(data-title='Fecha de Segunda Llamda :') {{ item.fechaSegundaLlamada | date : 'short' }}
          
        div(ng-if="$lCtrl.detalleNotificacion.fechaCierre")
          h4 
            b Causa: &nbsp; 
            | {{ $lCtrl.detalleNotificacion.causa }}
        
        div(ng-if="!$lCtrl.detalleNotificacion.fechaCierre")
          div(layout="row" layout-align="center center")
            h4 Cerrar Notificación   
          md-input-container.md-block(flex)
            label Causa
            input(ng-model='$lCtrl.form.causa' type="text")
            i(class='error' ng-show="$lCtrl.errores.causa" ng-repeat="opcion in $lCtrl.errores.causa")
              | {{ opcion }}

    md-dialog-actions(layout='row' layout-align="end end")
      md-button.md-raised(ng-click="$lCtrl.cerrar()") Cancelar
      md-button.md-raised.md-primary(ng-click="$lCtrl.cerrarNotificacion()" ng-disabled="$lCtrl.detalleNotificacion.fechaCierre") Cerrar Notificación
      
