extends ../layout/layout

block header
  include ../inclusions/header
block content
  .md-whiteframe-2dp(layout-margin layout-padding ng-controller="listaNotificacion as $lCtrl")
    div(layout="row" layout-sm="column" layout-xs="column" layout-align="center center" flex style="margin:0")
      b.titulo Lista de notificaciones
      md-button.md-raised.md-primary(href="/notificaciones/formulario" style="margin-left:15px;") + Crear
      md-input-container.w-100.md-block(md-no-float='' flex style="margin-bottom: 0;margin-left:15px;" )
        md-icon(md-svg-src='/static/content/icons/search.svg')
        input(ng-model='$lCtrl.search' type='text' placeholder='Buscar...' aria-label='Buscar...' ng-change="$lCtrl.filtrar()")
      span(flex)
    div(ng-if="$lCtrl.loading" layout='row', layout-sm='column', layout-align='center center')
      md-progress-linear(flex md-mode='indeterminate')
    div(layout="row" layout-sm="column" layout-xs="column" layout-align="center center" flex style="margin:0")
      //- md-button.md-fab(aria-label='Excel' style="background-color: #fff;" ng-click="$lCtrl.excel()")
        md-icon(md-svg-src='/static/content/icons/excel.svg')
      md-datepicker(ng-model='$lCtrl.fechaInicio' md-max-date="$lCtrl.fechaFin" md-placeholder='Fecha de inicio')
      md-datepicker(ng-model='$lCtrl.fechaFin' md-min-date="$lCtrl.fechaInicio" md-placeholder='Fecha de Fin')
      md-button.md-raised.primary(ng-click="$lCtrl.listarNotificaciones()" style="margin-left:15px;") 
        | &nbsp; Filtrar
        md-icon(md-svg-src='/static/content/icons/filter.svg' style="height: 15px; min-height: 15px;")
      md-button.md-raised(ng-click="$lCtrl.excel(true)" style="margin-left:15px;") 
        | Exportar&nbsp; 
        md-icon(md-svg-src='/static/content/icons/excel.svg')
      md-button.md-raised(ng-click="$lCtrl.excel()" style="margin-left:5px;") 
        | Exportar notificaciones Cerradas &nbsp; 
        md-icon(md-svg-src='/static/content/icons/excel.svg')
      md-button.md-raised(ng-click="$lCtrl.excelAsistencias()" style="margin-left:5px;") 
        | Exportar Asistentes &nbsp; 
        md-icon(md-svg-src='/static/content/icons/excel.svg')
      span(flex)
      
    md-content
      table.responsive-table
        thead
          tr
            th(scope='col' ng-click="$lCtrl.ordenarPor('usuario')") 
              div(layout="row")
                span Creador
                span(flex)
                md-icon(md-svg-src="/static/content/icons/sort{{ $lCtrl.reverse ? 'Desc' : 'Asc' }}.svg" ng-show="$lCtrl.propertyName === 'usuario'")
            th(scope='col' ng-click="$lCtrl.ordenarPor('fechaCreacion')") 
              div(layout="row")
                span(flex)
                span Fecha de Creación
                span(flex)
                md-icon(md-svg-src="/static/content/icons/sort{{ $lCtrl.reverse ? 'Desc' : 'Asc' }}.svg" ng-show="$lCtrl.propertyName === 'fechaCreacion'")
            th(scope='col' ng-click="$lCtrl.ordenarPor('fechaCierre')") 
              div(layout="row")
                span(flex)
                span Fecha de Cierre
                span(flex)
                md-icon(md-svg-src="/static/content/icons/sort{{ $lCtrl.reverse ? 'Desc' : 'Asc' }}.svg" ng-show="$lCtrl.propertyName === 'fechaCierre'")
            th(scope='col' ng-click="$lCtrl.ordenarPor('descripcion')") 
              div(layout="row")
                span(flex)
                span Descripción
                span(flex)
                md-icon(md-svg-src="/static/content/icons/sort{{ $lCtrl.reverse ? 'Desc' : 'Asc' }}.svg" ng-show="$lCtrl.propertyName === 'descripcion'")
            th(scope='col' ng-click="$lCtrl.ordenarPor('causa')") 
              div(layout="row")
                span(flex)
                span Causa
                span(flex)
                md-icon(md-svg-src="/static/content/icons/sort{{ $lCtrl.reverse ? 'Desc' : 'Asc' }}.svg" ng-show="$lCtrl.propertyName === 'causa'")
            th(scope='col' ng-click="$lCtrl.ordenarPor('centro')") 
              div(layout="row")
                span(flex)
                span Centro
                span(flex)
                md-icon(md-svg-src="/static/content/icons/sort{{ $lCtrl.reverse ? 'Desc' : 'Asc' }}.svg" ng-show="$lCtrl.propertyName === 'centro'")
            th(scope='col' ) Estado
            th(scope='col' ) Id
            th(scope='col' ) Acciones
        tfoot
          tr
            td.text-right(colspan='7')
              div(layout="row" layout-xs="column" layout-align="end center")
                span Mostrando &nbsp; 
                md-select(placeholder='' ng-model='$lCtrl.registrosXpagina' ng-change="$lCtrl.pagina = 0;$lCtrl.paginar();")
                  md-option(ng-value='opcion' ng-repeat='opcion in [10, 20, 50]') {{opcion}}
                span &nbsp; Registros Por Página
                div
                  md-button.md-icon-button(aria-label='boton' ng-disabled="$lCtrl.pagina == 0" ng-click="$lCtrl.pagina = $lCtrl.pagina - 1" ) 
                    span.flechas <
                  span {{ $lCtrl.pagina + 1 }} / {{$lCtrl.totalPaginas}}
                  md-button.md-icon-button(aria-label='boton' ng-disabled="$lCtrl.pagina == ($lCtrl.totalPaginas - 1)" ng-click="$lCtrl.pagina = $lCtrl.pagina + 1" ) 
                    span.flechas >
        tbody
          tr(ng-repeat="item in $lCtrl.notificacionesFiltrados | limitTo : $lCtrl.registrosXpagina : ($lCtrl.registrosXpagina*$lCtrl.pagina) | orderBy:$lCtrl.propertyName:$lCtrl.reverse | filter:$lCtrl.search")
            th(scope='row') {{ item.usuario }}
            td(data-title='Fecha de Creación :') {{ item.fechaCreacion | date : 'short'}}
            td(data-title='Fecha de Cierre :') {{ item.fechaCierre | date : 'short'}} &nbsp;
            td(data-title='Descripción :') {{ item.descripcion }} &nbsp;
            td(data-title='Causa :') {{ item.causa }} &nbsp;
            td(data-title='Centro :') {{ item.centro }}
            td(data-title='Estado :' ng-init="item.estado = item.fechaCierre ? 'Cerrada' : 'Abierta'") {{ item.fechaCierre ? 'Cerrado' : 'Abierto' }}
            td(data-title='Id :') {{ item.id }}
            td(data-title='Acciones :') 
              md-button.md-icon-button(aria-label='boton' ng-click="$lCtrl.detalle($event, item)") 
                md-icon(md-svg-src='/static/content/icons/eye.svg' style="color:#4369e2;")

    div(style='visibility: hidden')
      #myDialog.md-dialog-container
        include ./formCierre

    div(style='display: none')
      <iframe id="txtArea1" style="display:none"></iframe>
      a#csv
      table#headerTable
        thead
          tr
            th Creador
            th Fecha de Creación
            th Fecha de Cierre
            th Descripción
            th Causa
            th Centro
            th Estado
        tbody(id="tbody")
      table#headerTableAsistentes
        thead
          tr
            th Notificación
            th Creador
            th Fecha de Creación
            th Fecha de Cierre
            th Descripción
            th Causa
            th Centro
            th Estado
            th Asistente
            th Estado de Asistencia
            th Fecha de Asistencia
        tbody(id="tbodyAsistencias")
