extends ./layout/layout

block content
  br
  div(layout="column" flex layout-margin layout-padding)
    span(flex)
    div(layout="row")
      span(flex)
      .md-whiteframe-2dp(flex layout-margin layout-padding)
        h2 login
      span(flex)
    span(flex)
    
