@font-face {
  font-family: "Light";
  src: url("../content/fonts/Poppins-Light.otf");
}
@font-face {
  font-family: "Medium";
  src: url("../content/fonts/Poppins-Medium.otf");
}
@font-face {
  font-family: "Regular";
  src: url("../content/fonts/Poppins-Regular.otf");
}

body {
  font-family: "Light";
  background: #eee;
}
input {
  font-family: "Light";
}
.md-whiteframe-2dp {
  background: #fff;
}
md-content {
  background: #fff;

}
.tamano-cabecera {
  height: 84px !important;
  max-height: 84px !important;
}

.logo {
  height: 50px;
}
.nombre-empresa {
  font-size: 18pt;
  font-family: "Regular";
}

.nombre-usuario {
  font-size: 12pt;
  font-family: "Light";
  margin-left: 10px;
}

.nombre-empresa h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  height: 45px;
}
.puesto-de-trabajo md-icon{
  width: 80pt;
  min-height: 80pt;
  height: 80pt;
}
.puesto-de-trabajo {
  cursor: pointer;
}

.w-100 {
  width: 100%!important;
}
.puesto-activo {
  border: 5px solid #3f51b5;
  border-radius: 10px;
  width: 102%!important;
}
.puesto-de-trabajo:focus {
    outline:none;
}

.md-button {
  text-transform: capitalize;
}
.titulo {
  font-size: 20pt;
  font-family: "Regular"
}


/* .md-toast-content-general(@background-color, @color, @font-size){
  .color(@color);
  background-color: @background-color;
  font-size: @font-size;
} */

md-toast.toast-verde .md-toast-content {
  color:#fff;
  background-color: green;
  font-size: 12pt;
}
md-toast.toast-rojo .md-toast-content {
  color:#fff;
  background-color: red;
  font-size: 12pt;
}
.error {
  font-size: 10pt;
  color:red;
}

.w-100 {
  width: 100%;
}
.m-10 {
  margin: 10px;
}

.campo-busqueda {
  width: 95%;
  border: none;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px, rgba(0, 0, 0, 0.14) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 0px 0px 0px;
  padding-left: 10px;
  height: 48px;
  position: relative;
  display: flex;
  align-items: center;
}



/* menu */




.fill-height{
  display: flex;
  flex: 1;
  min-height: 100%;
}

.fill-height > div{
  min-height: 100%;
  display: flex;
}

md-sidenav {
  overflow: visible;

}

.side-menu .menu-toggle-list a.md-button {
  background: #eaecf8;
}

.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .md-button.active {
  color: deeppink;
}

.icono-flechas {
  height: 20px;
  min-height: 15px;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}
.side-menu .md-button-toggle {
  font-size:12pt;
  font-weight: bolder!important;
}
.side-menu .md-button-toggle .md-toggle-icon {
  background-size: 100% auto;
  display: inline-block;
  margin: auto 0 auto auto;
  width: 15px;
  color: darkgray;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #fff;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}


.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}
