header(ng-controller="header as $cCtr")
  md-toolbar.md-primary.md-whiteframe-2dp
    .md-toolbar-tools.tamano-cabecera
      img.logo(src="/static/images/logo-busscar.png")
      md-button.md-icon-button(aria-label='Menú de opciones' ng-click='$cCtr.abrirMenuIzquierda()')
        //- i.material-icons menu
        md-icon(md-svg-src='/static/content/icons/menu.svg')
      span(flex flex-xs)
      a(href="/notificaciones/" title="Calidad" hide-xs)
        .nombre-empresa
          b Notificaciones
          //- span Sistema Integrado de Notificaciones
      //- span Notificaciones
      span(flex flex-xs hide-xs)
      md-icon(md-svg-src='/static/content/icons/user.svg' hide-xs)
      span.nombre-usuario(hide-xs)
        b Hola, 
        | #{usuario.nombre}
      md-button.md-icon-button(aria-label='Menú de opciones' href="/logout" hide-xs)
        md-icon(md-svg-src='/static/content/icons/logout.svg')
  section(layout="row" flex)
    
    md-sidenav.md-sidenav-left.barra-lateral-izquierda(md-component-id='left' md-whiteframe='4')
      md-toolbar(layout='row')
        h1.md-toolbar-tools MENU
        md-button(aria-label='Menú de opciones' ng-click='$cCtr.abrirMenuIzquierda()')
          md-icon(md-svg-src='/static/content/icons/back.svg')
      md-content
        md-list-item.md-3-line
          .md-list-item-text(layout='column')
            b= usuario.nombre
            div(layout='row')
              h4= usuario.rol
              span(flex)
              md-icon(md-svg-src='/static/content/icons/user.svg')
        md-divider
        md-menu-content(width='4', ng-mouseleave='$mdMenu.close()')
          md-menu-item(ng-repeat='item in $cCtr.MENU')
            md-button(href="{{item.url}}")
              | {{item.nombre}}
      md-button.md-primary.md-fab.md-fab-bottom-right.my-fab-button(href="/logout")
        md-icon(md-svg-src='/static/content/icons/logout.svg')
        md-tooltip(md-direction="left") Salir

  
  
  
