- 
  var stylesheets = [ 
    "/static/angular-material/angular-material.css", 
    "/static/stylesheets/style.css",
    "/static/stylesheets/tabla.css"
  ]
- 
  var javascripts = [ 
    "/static/jquery/dist/jquery.js",
    "/static/angular/angular.js",
    "/static/moment/moment.js",
    "/static/angular-aria/angular-aria.js",
    "/static/angular-messages/angular-messages.js",
    "/static/angular-animate/angular-animate.js",
    "/static/angular-material/angular-material.js",
    "/static/angular-md5/angular-md5.js",
    "/static/javascripts/librerias/validate.js", 
    "/static/javascripts/main.js", 
    "/static/javascripts/factories/menu.js", 
    "/static/javascripts/factories/toast.js", 
    "/static/javascripts/controllers/header.js", 
    "/static/javascripts/controllers/login.js", 
    "/static/javascripts/controllers/notificaciones/lista.js",
    "/static/javascripts/controllers/notificaciones/form.js",
    "/static/javascripts/controllers/usuarios/lista.js",
    "/static/javascripts/controllers/usuarios/form.js",
    "/static/javascripts/controllers/centros/lista.js",
    "/static/javascripts/controllers/centros/form.js",
  ]
doctype html
html(ng-app='calidad')
  head
    meta(charset='utf-8')
    title= "Calidad - " + title
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(keywords="Calidad")
    meta(description="Calidad")
    link(rel='icon', href='/static/imagens/favicon.ico', type='image/x-icon')
    each stylesheet in stylesheets
      link(rel='stylesheet', href=stylesheet)
    each javascript in javascripts
      script(src=javascript)
  body
    div(layout="column" )
      block header
      //-   include ../inclusions/header
      block content 
    //- span(flex)
    //- div(layout="column" layout-align="end center")
    //-   block footer 
    //-     span © BUSSCAR  {{ moment().format('YYYY') }} Todos los derechos reservados
